/*
Código Footer / Footer Code (Not in Use)
*/
#footer {
    border-top: 1px solid black;
    position: absolute;
    width: 100%;
}

#fooContenido {
    padding: 8rem 16rem;
    background: black;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.fooSeccion {  
display: flex;
flex-direction: column;
gap: 1rem;
}

.fooSecTitulo{
color: white;
font-size: 1.5rem;
}
.fooSecTitulo:hover{
    animation-name: ccolor;
    animation-duration: 0.5s;
}

.links {
display: flex;
flex-direction: column;
gap: 0.5rem;
width: 160px;
}

.links > a {
color: white;
font-family: sans-serif;
text-decoration: none;
}

/*
Footer Hover Animations
*/

.links > a:hover {
text-decoration: underline;
}

/*
Footer Media Query
*/

@media(max-width: 900px) {
    #fooContenido {
        flex-direction: column;
        gap: 2rem;
        padding: 4rem;
    }

    .fooSeccion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .fooSecTitulo {    
        flex-shrink: 0;
        width: 120px;
    }
}

@media(max-width: 600px) {
    #footer {
        position: relative;  
        margin-top: 90vh;
    }

    #fooContenido {
        padding: 2rem;
    }

    .fooSecTitulo {    
        font-size: 1rem;
    }

    .links > a {
        font-size: 0.8rem;
    }
}

