@media (min-width: 800px){
  .tab {
      font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .tabs-container.affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}

body {
  padding-top: 70px;
}
.tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  background: #fff;
  z-index: 1000;
}
/*
Se le da la posición fija cuando llega al techo de la página 
http://jsfiddle.net/39james/WucN3/ 
*/
.tabs-container.affix{
  position:fixed;
  top:0;
  right:0;
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  transition: all 0.5s ease;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: 600;
  color: #1d1e22;
}

.tab:hover{
background-color: lightgray;
}

a:-webkit-any-link {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

/*Selecciond e Idioma*/
.language-selector {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.language-toggle {
  font-size: 1em;
  padding: 0.5em 1em;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.language-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 9998;
  padding: 0.5em 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.language-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.language-menu li {
  padding: 0.5em 1em;
}

.language-menu li a {
  color: #333;
  text-decoration: none;
}
