
html {
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}

body {
    margin: 0;
    padding: 0;
}

/*
Código main / Main Code
*/

main {
    height: auto;
    display: flex;
}

.lateral{
    width: 20%;
    height: 100vh;
    background-color: grey;
}
#principal{
    width: 80%;
}

